body{
  background-color: 	 #c2c2d6;
  
  font-family: Verdana, Geneva, sans-serif;
}

input {

    float : right;
}

div {
  padding: 5px;
}

button {
  horizontal-align: right;
}

input[type=text]:focus {
    border: 3px solid #555;
    overflow: scroll;
}

form > ol {
  padding: 5px;
  border-bottom: groove;
}
